<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home <span></span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users">  </i>Recursos Humanos<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("LP_Employees", "HumanResources")">Empleados</a></li>
                    <li><a href="#">Contratistas</a></li>
                    <li><a a href="#">Departamentos</a></li>
                    <li><a a href="#">Puestos</a></li>
                    <li><a href="#">Cargos</a></li>
                    <li><a href="#">Prestaciones Laborales</a></li>
                    <li><a href="#">Empleados desvinculados</a></li>
                    <li><a href="#">Evaluación Desempeño</a></li>
                    <li><a href="#">Solicitudes</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-get-pocket"></i>Reclutamiento<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Candidatos</a></li>
                    <li><a href="#">Puestos Vacantes</a></li>
                    <li><a href="#">Entrevistas </a></li>
                    <li><a href="#">Recepción de postulaciones</a></li>
                    <li><a href="#">Test Psicológicos</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-university"></i>Capacitación<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Entrenadores</a></li>
                    <li><a href="#">Salones</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-money"></i>Nómina<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Proceso de Nómina</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-archive-o"></i>Reportes<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Recibos de nómina</a></li>
                    <li><a href="#">Resumen de nómina</a></li>
                    <li><a href="#">Reporte DGT-2</a></li>
                    <li><a href="#">Reporte DGT-3</a></li>
                    <li><a href="#">Reporte DGT-4</a></li>
                    <li><a href="#">Reporte DGT-5</a></li>
                    <li><a href="#">Reporte DGT-9</a></li>
                    <li><a href="#">Reporte DGT-11</a></li>
                    <li><a href="#">Reporte DGT-12</a></li>
                    <li><a href="#">Reporte Autodeterminación</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
    <div class="menu_section">
        <h3>Master data / Configuration</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-database"></i>Master Data <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Nivel de educación</a></li>
                    <li><a href="#">Tipos de Discapacidad</a></li>
                    <li><a href="#">Ocupaciones</a></li>
                    <li><a href="#">Tipos de Documentos</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-gear"></i> Configuración <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Nóminas</a></li>
                    <li><a href="#">Códigos de Ganancia</a></li>
                    <li><a href="#">Códigos de Deducción</a></li>
                    <li><a href="#">Impuestos</a></li>
                    <li><a href="#">Prestamos</a></li>
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="#">Categoría de Proyectos</a></li>
                    <li><a href="#">Calendarios Laborales</a></li>
                    <li><a href="#">Tipos de Licencia</a></li>
                    <li><a href="#">Empresa</a></li>
                    <li><a href="#">API'S</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->