<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="https://cdn.pixabay.com/photo/2022/09/08/15/16/cute-7441224_640.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>John Doe</h2>
    </div>
</div>
<!-- /menu profile quick info -->